<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="bg-blue-200 min-h-screen flex items-center justify-center">

  <div class="bg-purple-300 h-[320px] w-[300px] rounded-2xl shadow-xl p-6">

    <h1 class="text-center font-bold text-red-950 text-xl mb-4">
      Card-1
    </h1>

    <!-- image area -->
    <div class="flex justify-center mb-6">
      <div class="h-[80px] w-[160px] bg-violet-50 rounded-lg flex items-center justify-center font-semibold text-purple-700">
        Image
      </div>
    </div>

    <!-- buttons -->
    <div class="flex flex-col gap-3 items-center">

      <button
        class="bg-pink-500 text-white px-6 py-2 rounded-full hover:bg-purple-600 transition">
        Submit
      </button>

      <button
        class="bg-red-900 text-white px-6 py-2 rounded-full hover:bg-pink-600 ">
        Apply
      </button>

    </div>

  </div>

</div>


</body>
</html>
